<div class="container" #container id='tblCntainer' class='ui-table1' >
  <h2>Bordered Table</h2>
  <table class="table table-bordered table-striped" id='tble'>
    <thead>
      <tr>
        <th *ngFor="let col of columns" class="ui-resizable-column" appResizableColumns containerId="#tblCntainer" resizeDivId="#tblResizeHlpr"
          tableId="#tble" columnResizeMode="fit">{{col.header}}</th>
      </tr>
    </thead>
    <tbody id="myTabBdy" >
    <tbody id="myTabBdy" dnd-sortable-container [sortableData]="data">
    <!-- <tbody id="myTabBdy" [sortablejs]="data"> -->
    <!-- <tbody id="myTabBdy"> -->
      <tr *ngFor="let d of data; let i = index"  dnd-sortable [sortableIndex]="i">
        <td *ngFor="let col of columns">
          <span *ngIf="col.field!== 'vin'">{{d[col.field]}}</span>
          <span *ngIf="col.field=== 'vin'">
            <input [(ngModel)]="d[col.field]">
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <div id='tblResizeHlpr' #resizeHelper class="ui-column-resizer-helper ui-state-highlight" style="display:none"></div>
</div>

&nbsp;&nbsp;

<!-- <div class="container" #container1 id='tblCntainer1'class='ui-table'>
  <h2>Bordered Table 2</h2>
  <table class="table table-bordered" id='tble1'>
    <thead>
      <tr>
        <th *ngFor="let col of columns" class="ui-resizable-column"
        appResizableColumns containerId="#tblCntainer1"
        resizeDivId="#tblResizeHlpr1" tableId="#tble1" columnResizeMode="fit">{{col.header}}</th>
      </tr>
    </thead>
    <tbody id="myTabBdy">
      <tr *ngFor="let d of data">
        <td *ngFor="let col of columns">{{d[col.field]}}</td>
      </tr>
    </tbody>
  </table>
  <div id='tblResizeHlpr1' #resizeHelper class="ui-column-resizer-helper ui-state-highlight" style="display:none"></div>
</div> -->