<div class="container">
  <h2>Bordered Table</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="ui-resizable-column">
            <span class = "ui-column-resizer"
            appColumnDraggable="myTabBdy" tbodyId="testId"></span>Firstname</th>
        <th class="ui-resizable-column">Lastname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody id="myTabBdy">
      <tr>
        <td>John</td>
        <td>Doe</td>
        <td>john@example.com</td>
      </tr>
      <tr>
        <td>Mary</td>
        <td>Moe</td>
        <td>mary@example.com</td>
      </tr>
      <tr>
        <td>July</td>
        <td>Dooley</td>
        <td>july@example.com</td>
      </tr>
    </tbody>
  </table>
</div>

